@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    background-color: grey;
    background: #10383C;
    background: -moz-radial-gradient(center, #10383C 0%, #183147 18%, #519DA5 100%);
    background: -webkit-radial-gradient(center, #10383C 0%, #183147 18%, #519DA5 100%);
    background: radial-gradient(ellipse at center, #10383C 0%, #183147 18%, #519DA5 100%);
  }
body {
  font  : 1.2rem sans-serif;
  font-size:larger;
  padding : 0.5em;
  margin  : 0;
  padding: 0;
 color: #000
}

form {
  position : relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
  background :white url(background.jpg);

  /* creamos nuestra malla (grid) */
  display  : grid;
  grid-gap : 20px;
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows    : 10em 1em 1em 1em;
}
h1 {
    font : 1em "typewriter", monospace;
    align-self : end;
  }
  
  #message {
     grid-row: 1 / 5;
  }
  
  #from, #reply {
     display: flex;
  }
  label {
    font : .8em "typewriter", sans-serif;
    color: #000;
  }
  input, textarea {
    font    : "handwriting", cursive, sans-serif;
    border  : none;
    padding : 0 12px;
    margin  : 0;
    width   : 80%;
    background : none;
  }
  input:focus, textarea:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
  }
  textarea {
    display : block;
  
    padding : 10px;
    margin  : 10px 0 0 -10px;
    width   : 100%;
    height  : 100%;
  
    border-right: 1px solid;
  
    /* resize  : none; */
    overflow: auto;
  }
  button {
    padding      : 5px;
    font         : bold .6em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
    cursor       : pointer;
    transform    : rotate(-1.5deg);
  }
  
  button:after {
    content      : " >>>";
  }
  
  button:hover,
  button:focus {
    outline     : none;
    background  : #000;
    color       : #FFF;
  }
  
  ul {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: grey;
    background: #10383C;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color:black;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: 'Great Vibes', cursive;
   }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }